[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=spritesExporter
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Sprites Exporter
Comment=Exports spritesheets from the animation timeline
